.profile__avatar {
  margin-right: 30px;
  width: 120px;
  height: 120px;
  background-position: center;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .profile__avatar {
    width: 120px;
    height: 120px;
    margin-right: 0;
    margin-bottom: 26px;
    align-self: center;
  }
}
